:root {
  --brand: #4c74b9;
  --success: #26b16d;
  --danger: #f04d50;
  --light: #fff;
  --background: #f2f2f2;
  --main: #8e9ca7;
  --main-light: #c8d2d8;
  --main-darken: #7f8a92;
  --input-background: #ecf3f7;
  --button-background: #374046;
}
